#
#------------------------------------------------------------------------------------------
# Copyright © 2011, Xilinx, Inc.
# This file contains confidential and proprietary information of Xilinx, Inc. and is
# protected under U.S. and international copyright and other intellectual property laws.
#------------------------------------------------------------------------------------------
#
# Disclaimer:
# This disclaimer is not a license and does not grant any rights to the materials
# distributed herewith. Except as otherwise provided in a valid license issued to
# you by Xilinx, and to the maximum extent permitted by applicable law: (1) THESE
# MATERIALS ARE MADE AVAILABLE "AS IS" AND WITH ALL FAULTS, AND XILINX HEREBY
# DISCLAIMS ALL WARRANTIES AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY,
# INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT,
# OR FITNESS FOR ANY PARTICULAR PURPOSE; and (2) Xilinx shall not be liable
# (whether in contract or tort, including negligence, or under any other theory
# of liability) for any loss or damage of any kind or nature related to, arising
# under or in connection with these materials, including for any direct, or any
# indirect, special, incidental, or consequential loss or damage (including loss
# of data, profits, goodwill, or any type of loss or damage suffered as a result
# of any action brought by a third party) even if such damage or loss was
# reasonably foreseeable or Xilinx had been advised of the possibility of the same.
#
# CRITICAL APPLICATIONS
# Xilinx products are not designed or intended to be fail-safe, or for use in any
# application requiring fail-safe performance, such as life-support or safety
# devices or systems, Class III medical devices, nuclear facilities, applications
# related to the deployment of airbags, or any other applications that could lead
# to death, personal injury, or severe property or environmental damage
# (individually and collectively, "Critical Applications"). Customer assumes the
# sole risk and liability of any use of Xilinx products in Critical Applications,
# subject only to applicable laws and regulations governing limitations on product
# liability.
#
# THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS PART OF THIS FILE AT ALL TIMES.
#
#------------------------------------------------------------------------------------------
#
# Constraints for 'uart6_ml605'.
#
# ML605 Board (www.xilinx.com) 
#
# XC6VLX240T-1FF1156 Device 
#
# Ken Chapman - Xilinx Ltd
#
# 16th May 2011 - Orignal UCF for ML605 Board.
#  1st May 2012 - Timing constraint syntax changed to preferred style. 
#
#
# Period constraint for 200MHz operation
#
NET "clk200" TNM_NET = "clk200";
TIMESPEC TS_200MHZ_clk = PERIOD "clk200" 5.0ns HIGH 50%;
#
# Period constraint for 50MHz operation
#
NET "clk" TNM_NET = "clk";
TIMESPEC TS_50MHZ_clk = PERIOD "clk" 20.0ns HIGH 50%;
#
#
# 200MHz Differential Clock.
# 
NET "clk200_p" LOC = "J9" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
NET "clk200_n" LOC = "H9" | IOSTANDARD = LVDS_25 | DIFF_TERM = TRUE;
#
# USB-UART
#
NET "uart_rx" LOC = "J24" | IOSTANDARD = LVCMOS25;
NET "uart_tx" LOC = "J25" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4;
#
#------------------------------------------------------------------------------------------
# End of File
#------------------------------------------------------------------------------------------
#
