#
#------------------------------------------------------------------------------------------
# Copyright © 2012-2013, Xilinx, Inc.
# This file contains confidential and proprietary information of Xilinx, Inc. and is
# protected under U.S. and international copyright and other intellectual property laws.
#------------------------------------------------------------------------------------------
#
# Disclaimer:
# This disclaimer is not a license and does not grant any rights to the materials
# distributed herewith. Except as otherwise provided in a valid license issued to
# you by Xilinx, and to the maximum extent permitted by applicable law: (1) THESE
# MATERIALS ARE MADE AVAILABLE "AS IS" AND WITH ALL FAULTS, AND XILINX HEREBY
# DISCLAIMS ALL WARRANTIES AND CONDITIONS, EXPRESS, IMPLIED, OR STATUTORY,
# INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT,
# OR FITNESS FOR ANY PARTICULAR PURPOSE; and (2) Xilinx shall not be liable
# (whether in contract or tort, including negligence, or under any other theory
# of liability) for any loss or damage of any kind or nature related to, arising
# under or in connection with these materials, including for any direct, or any
# indirect, special, incidental, or consequential loss or damage (including loss
# of data, profits, goodwill, or any type of loss or damage suffered as a result
# of any action brought by a third party) even if such damage or loss was
# reasonably foreseeable or Xilinx had been advised of the possibility of the same.
#
# CRITICAL APPLICATIONS
# Xilinx products are not designed or intended to be fail-safe, or for use in any
# application requiring fail-safe performance, such as life-support or safety
# devices or systems, Class III medical devices, nuclear facilities, applications
# related to the deployment of airbags, or any other applications that could lead
# to death, personal injury, or severe property or environmental damage
# (individually and collectively, "Critical Applications"). Customer assumes the
# sole risk and liability of any use of Xilinx products in Critical Applications,
# subject only to applicable laws and regulations governing limitations on product
# liability.
#
# THIS COPYRIGHT NOTICE AND DISCLAIMER MUST BE RETAINED AS PART OF THIS FILE AT ALL TIMES.
#
#------------------------------------------------------------------------------------------
#
# Constraints for 'kc705_kcpsm6_i2c_eeprom'.
#
# KC705 Board Rev.D (www.xilinx.com) 
#
# XC7K325T-1FFG900 Device  
#
# Ken Chapman - Xilinx Ltd 
#
# 11th October 2012 - Initial Release.
# 28th January 2013 - Addition of pin connected to Si5324 (U70) reset control.
#
#
#
#------------------------------------------------------------------------------------------
# Timing Constraints
#------------------------------------------------------------------------------------------
#
#
# Period constraint for 200MHz operation
#
NET "clk200" TNM_NET = "clk200";
TIMESPEC TS_200MHZ_clk = PERIOD "clk200" 5.0ns HIGH 50%;
#
#
# Period constraint for 100MHz operation
#
NET "clk" TNM_NET = "clk";
TIMESPEC TS_100MHZ_clk = PERIOD "clk" 10.0ns HIGH 50%;
#
#
#------------------------------------------------------------------------------------------
# Pin Constraints
#------------------------------------------------------------------------------------------
#
#
# 200MHz Differential Clock (SYSCLK).
# 
NET "clk200_p" LOC = "AD12" | IOSTANDARD = DIFF_SSTL15; 
NET "clk200_n" LOC = "AD11" | IOSTANDARD = DIFF_SSTL15;
#
#
# USB-UART
#
NET "uart_rx" LOC = "M19" | IOSTANDARD = LVCMOS25;
NET "uart_tx" LOC = "K24" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4;
#
#
# CPU_RST press switch is SW7 and active High
#
NET "cpu_rst" LOC = "AB7" | IOSTANDARD = LVCMOS15;
#
#
# I2C Bus
#
# The Kintex-7 connects to an I2C bus switch (PCA9548).
#
#   The PCA9548 address is "1110100" (74 hex).
#   The M24C08 EEPROM is connected to 'CH3' and has address "10101xx"
#     ('xx' signify memory address bits so I2C address range is 54 to 57 hex).
#
# All signals have 4k7 external pull-up resistors.
#
NET "i2c_clk"         LOC = "K21" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4;
NET "i2c_data"        LOC = "L21" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4;
NET "i2c_mux_reset_b" LOC = "P23" | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 4;
#
#
# Si5324 (U70) reset active Low
#
#    This pin must be driven High in order to communicate with the Si5324 device.
#    Although not used in this reference design, this connection is made to facilitate 
#    future development and experiments with I2C. 
#
NET "si5324_rst" LOC = "AE20" | IOSTANDARD = LVCMOS25;
#
#
#------------------------------------------------------------------------------------------
# End of File
#------------------------------------------------------------------------------------------
#
