#------------------------------------------------------------------------------
# Gowin test project template
# published as part of https://github.com/pConst/basic_verilog
# Konstantin Pavlov, pavlovconst@gmail.com
#------------------------------------------------------------------------------

IO_LOC "led[5]" 16;
IO_PORT "led[5]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[4]" 15;
IO_PORT "led[4]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[3]" 14;
IO_PORT "led[3]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[2]" 13;
IO_PORT "led[2]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[1]" 11;
IO_PORT "led[1]" PULL_MODE=UP DRIVE=8;
IO_LOC "led[0]" 10;
IO_PORT "led[0]" PULL_MODE=UP DRIVE=8;

IO_LOC "key[0]" 4;
IO_PORT "key[0]" PULL_MODE=UP;
IO_LOC "key[1]" 3;
IO_PORT "key[1]" PULL_MODE=UP;

IO_LOC "clk27" 52;
IO_PORT "clk27" IO_TYPE=LVCMOS33 PULL_MODE=UP;
